@model WebApplication2.Models.Transaccion

@{
    ViewBag.Title = "Mensaje Trasaccion";
}

<h2>Mensajetrasaccion</h2>

<div>
    <h4>Transaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Estado: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadotransaccion)
        </dd>

        <dt>
            Motivo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivotransaccion)
        </dd>

        <dt>
            Autorizacion: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autorizacion)
        </dd>

        <dt>
            Referencia: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referencia)
        </dd>

        <dt>
            Fecha:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
